.destination {
    background-image: url('../../images/destination/background-destination-mobile.jpg');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100%;
    padding: 0 24px;
} 

.destination-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    height: 100%;
    font-family: 'Barlow Condensed';
}

.destination-planet {
    width: 200px;
}

.destination-title {
    color: #FFF;
    font-family: 'Barlow Condensed';
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 2.7px;

    padding: 30px 0;
}

.nav-number {
    opacity: .25;
    padding-right: 10px;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 2.7px;
}

.destination-nav {
    display: flex;
    gap: 26px;
    list-style: none;

    color: #D0D6F9;
    font-family: 'Barlow Condensed';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 2.362px;

    padding: 30px 0;
}

.destination-name {
    color: #FFF;
    text-align: center;
    font-family: Bellefair;
    font-size: 56px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.destination-desc {
    color: #D0D6F9;
    text-align: center;
    font-family: 'Barlow';
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px; /* 166.667% */

    padding-bottom: 30px; 
    border-bottom: 1px solid #383B4B;
    margin-bottom: 30px;
}

.distance-container {
    color: #fff;
    font-family: 'Barlow Condensed';
    text-align: center;
}

.avg-distance, .est-travel-time {
    font-size: 14px;
    letter-spacing: 2.4px;
    font-weight: 400;
    color: #D0D6F9;
    letter-spacing: 2.362px;

    padding-bottom: 12px;
}

.distance, .travel-time {
    font-family: 'Bellefair';
    font-size: 28px;
    font-weight: 400;
    
    padding-bottom: 32px;
}

/* LIST ANIMATION */




.destination-nav li {
    position: relative;
    cursor: pointer;
}



.destination-nav li::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 100%;
    height: 3px; 
    background-color: #fff;

    opacity: 0;
    transition: all .2s;
}

.destination-nav li:hover::before,
.destination-nav li:focus::before {
    opacity: 1;
}

/* .active {
    color: #FFF;
} */

.destination-nav li.active::after {
    content: "";
    bottom: -10px;
    left: 0;
    width: 100%;
    height: 3px;
    background: #fff;
    position: absolute;
    opacity: 1;
    transition: all 0.2s;
}

.moon:hover, .mars:hover, .europa:hover, .titan:hover {
    color: #fff;
}

.destination-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.destination-title {
    margin: 0;
}


/* TABLET VIEW */ 


@media (min-width: 768px) {
    .destination {
        background-image: url('../../images/destination/background-destination-tablet.jpg');
        background-position: top;
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 100%;

        padding: 0;
    } 

    .destination-title {
        font-size: 1.25rem;
        align-self: flex-start;
        /* margin-left: 34px; */
        letter-spacing: 3.375px;
    }

    .destination-planet {
        width: 257px;
    }

    .destination-nav {
        gap: 35px;
        font-size: 1rem;
        letter-spacing: 2.7px;
        padding: 47px 0;
    }

    .destination-name {
        font-size: 5rem;
        padding-bottom: 8px;
    }

    .destination-desc {
        font-size: 1rem;
        line-height: 28px;
        max-width: 573px;

        margin: 0;
        padding: 0;
        padding-bottom: 49px;
        margin-bottom: 28px;
    }

    .distance-container {
        display: flex;
        justify-content: space-around;
        width: 100%;
        max-width: 573px;
    }


}


/* DESKTOP VIEW */

@media (min-width: 1280px) {
    .destination {
        background-image: url('../../images/destination/background-destination-desktop.jpg');
        background-position: top;
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 100%;

        padding: 0;

        /* display: grid; */
        /* grid-template-columns: 1fr 1fr; */
        /* grid-template-rows: 136px 1fr; */
    } 
    .destination-title {
        margin: 0;
        font-size: 1.75rem;
        align-self: center;
        margin-bottom: 2rem;
    }

    .nav-number {
        font-size: 1.75rem;
    }

    .destination > header {
        min-height: 136px !important;
        align-items: center;
    }

    .destination-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 157px;
        /* margin-top: 1rem; */
    }
    .wrapper-1 {
        display: flex;
        justify-content: center;
    }

    .wrapper-2 {
        align-items: flex-start;
    }

    .destination-img-container {
        width: 100%;
    }

    .destination-planet {
        width: calc(20vw + 6rem);
        max-width: 445px;
        display: flex;
        justify-self: flex-end;
        float: right;
    }

    .destination-name {
        font-size: 6.25rem;
    }

    .destination-wrapper {
        width: 100%;
    }

    .destination-desc {
        text-align: start;
        font-size: 1.125rem;
        line-height: 32px;
        max-width: 450px;
    }

    .distance-container {
        text-align: start;
        justify-content: flex-start;
        gap: 79px;
    }
    
    .distance, .travel-time {
        padding: 0;
    }
}

